<p>locations-page works!</p>
<pre>

</pre>

<form
  (ngSubmit)="onSubmit()"
  action=""
  [formGroup]="locationForm"
  *ngIf=" departments$ | async as departments ">

  <div class="" >
    <app-auto-select
    label="Selecciona el departamento"
    [options]="departments | mapNameDep "
    placeholder="Buscar departamento"
    formControlName="department"
    ></app-auto-select>
  </div>


  <app-auto-select
    label="Selecciona el municipio"
    [options]="citiesName"
    placeholder="Buscar departamento"
    formControlName="city"
    >
  </app-auto-select>

  <app-input-text
  label="Escriba el nombre de la nueva locacion"
  formControlName="location"
  [required]="true"
  placeholder="Escribe el nombre de la nueva locacion"
  [errorMessage]="FormUtils.getFiledError(locationForm, 'location')"
  ></app-input-text>

  <app-button-submit
  value="Guradar locacion"
  ></app-button-submit>
</form>
