<section class="user-page">
  <h2 class="user-page__title">Crear Usuario</h2>
  <form action="" class="user-page__form" [formGroup]="userForm" (ngSubmit)="onSave()" >
    <div class="user-page__grid-trhee">
      <app-input-text
      [errorMessage]="FormUtils.getFiledError(userForm,'identification')"
      formControlName="identification"
      [required]="true"
      label="Identificación"
      placeholder="12345678"
      ></app-input-text>

      <app-input-text
      [errorMessage]="FormUtils.getFiledError(userForm,'name')"
      formControlName="name"
      [required]="true"
      label="Nombre"
      placeholder="juan"
      ></app-input-text>

      <app-input-text
      [errorMessage]="FormUtils.getFiledError(userForm,'lastName')"
      formControlName="lastName"
      [required]="true"
      label="Apellido"
      placeholder="perez"
      ></app-input-text>
    </div>

    <div class="user-page__grid">
      <app-input-text
      [errorMessage]="FormUtils.getFiledError(userForm,'phoneNumber')"
      formControlName="phoneNumber"
      [required]="true"
      label="Número celular"
      placeholder="+573123099"
      ></app-input-text>


      <app-input-text
      [errorMessage]="FormUtils.getFiledError(userForm,'email')"
      formControlName="email"
      [required]="true"
      label="E-mail"
      placeholder="juan@email.com"
      ></app-input-text>

      <div class="user-page__field">
        <label for="birthDay" class="user-page__label">
          Fecha de Nacimiento
          <span class="user-page__span">*</span>
        </label>
        <input
          formControlName="birthday"
          type="date"
          id="birthDay"
          name="birthDay"
          class="user-page__input" />
          <span class="user-page__span" >{{FormUtils.getFiledError(userForm, 'birthday')}}</span>
      </div>

      <app-auto-select
      [errorMessage]="FormUtils.getFiledError(userForm, 'rol')"
      formControlName="rol"
      [required]="true"
      label="Rol"
      [options]="rolNames"
      ></app-auto-select>

      <app-input-text
      [errorMessage]="FormUtils.getFiledError(userForm,'password')"
      formControlName="password"
      [required]="true"
      label="Contraseña"
      ></app-input-text>

      <app-input-text
      [errorMessage]="FormUtils.getFiledError(userForm,'passwordConfirm')"
      formControlName="passwordConfirm"
      [required]="true"
      label="Confrimar contraseña"
      ></app-input-text>
    </div>

    <span>{{FormUtils.getFiledError(userForm, 'userForm')  }}</span>
    <div class="user-page__submit">
      <app-button-submit value="Guardar"></app-button-submit>
    </div>
  </form>
  <div *ngIf="saveIsSucces" >
    <app-notification
    message="Se guardo exitosamente"
    ></app-notification>
  </div>

</section>
