.input-text {
  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__input {
    padding: 10px;
    border: 1px solid var(--white-ligth-smoke);
    border-radius: 8px;
  }
  &__span {
    color: var(--red);
  }
}


.input-text--disabled {
  opacity: 0.6;
  pointer-events: none; 

  .input-text__input {
    background-color: #f1f1f1 !important;
    color: #999 !important;
    cursor: not-allowed;
    border-color: #ccc !important;
  }

  .input-text__label-title {
    color: #999;
  }
}

