<aside class="side-bar">
  <button class="side-bar__toggle-btn" aria-label="Mostrar u ocultar menú">
    <!-- <i class="side-bar__toggle-icon">➡️</i> -->
    <span class="side-bar__toggle-icon">
      <img src="assets/icons/hamburger.svg" alt="hamburger icon" />
    </span>
  </button>

  <nav class="side-bar__nav">
    <ul class="side-bar__list">
      <li class="side-bar__item side-bar__item--active">
        <a href="#" class="side-bar__link">
          <span class="side-bar__icon">
            <img src="assets/icons/dashboard.svg" alt="Dashboard icon" />
          </span>
          <span class="side-bar__label">Dashboard</span>
        </a>
      </li>
      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <span class="side-bar__icon">
            <img src="assets/icons/categories.svg" alt="Categories icon" />
          </span>
          <span class="side-bar__label">Categorías</span>
        </a>
      </li>
      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <span class="side-bar__icon">
            <img src="assets/icons/users.svg" alt="Users icon" />
          </span>
          <span class="side-bar__label">Usuarios</span>
        </a>
      </li>
      <li class="side-bar__item">
        <a href="#" class="side-bar__link">
          <span class="side-bar__icon">
            <img src="assets/icons/configuration.svg" alt="Configuration icon" />
          </span>
          <span class="side-bar__label">Configuración</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
