<div class="pagination">
  <button
    class="pagination__button"
    (click)="previousPage()"
    [disabled]="currentPage === 0">
    {{'<'}}
  </button>

  <button
      class="pagination__button"
      *ngFor="let pageNumber of pageNumbers"
      (click)="goToPage(pageNumber)"
      [class.active]="pageNumber === currentPage">
      {{ pageNumber + 1 }}
    </button>
  <button
    class="pagination__button"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages - 1">
    {{'>'}}
  </button>
</div>
