<section class="create-categories">
  <section class="create-categories__form-section">
    <h2 class="create-categories__title">Crear categorías</h2>
    <form class="create-categories__form" action="" [formGroup]="categoryForm" (ngSubmit)="onSave()">
      <app-input-text label="Nombre de la categoría" placeholder="Escribe el nombre de la categoria" [required]="true"
        formControlName="name" [errorMessage]="FormUtils.getFiledError(categoryForm, 'name')">
      </app-input-text>

      <app-text-area label="Descripción de la categoría" placeholder="Escribe la descripcion de la categoria"
        formControlName="description" [required]="true"
        [errorMessage]="FormUtils.getFiledError(categoryForm, 'description')">
      </app-text-area>

      <div *ngIf="isCategorySave">
        <app-notification message="Datos guardados correctamente" type="success"></app-notification>
      </div>

      <div class="create-categories__submit">
        <app-button-submit value="Guardar"></app-button-submit>
      </div>
    </form>
  </section>

  <section class="create-categories__list-section">
    <h2 class="create-categories__title">Lista de categorías</h2>
    <div class="create-categories__table-container">
      <section class="create-categories__table" *ngIf="categoriesPage$ | async as categoriesPage">
        <section class="create-categories__table-header">
          <h5 class="create-categories__column-title">ID</h5>
          <h5 class="create-categories__column-title">Nombre</h5>
          <h5 class="create-categories__column-title">Descripción</h5>
          <h5 class="create-categories__column-title">Acciones</h5>
        </section>
        <section class="create-categories__table-body">
          <article class="create-categories__row" *ngFor="let category of categoriesPage.content">
            <p class="create-categories__cell"> {{ category.id }} </p>
            <p class="create-categories__cell"> {{ category.name }} </p>
            <p class="create-categories__cell"> {{ category.description }} </p>
            <i class="create-categories__actions"></i>
          </article>
        </section>
      </section>
    </div>
    <section class="create-categories__page-selection">
      <button
        class="create-categories__simple-btn"
        *ngFor="let pageNumber of pageNumbers"
        (click)="goToPage(pageNumber)"
      >
        {{ pageNumber + 1 }}
      </button>
    </section>
  </section>
</section>
